body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.layout {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logout {
    background: #ef4444;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.grande {
    grid-column: span 2;
}

.card p {
    font-size: 28px;
    margin-top: 10px;
}

.barra-bg {
    margin-top: 15px;
    height: 15px;
    background: #334155;
    border-radius: 10px;
    overflow: hidden;
}

.barra {
    height: 100%;
    width: 0%;
    transition: 0.5s;
}

.estado {
    background: #334155;
}
