body{

margin:0;
font-family:Poppins;
color:white;

background: linear-gradient(
180deg,
#cfc4d4,
#9a7c9e,
#6a3d6f
);

}


/* LOGIN */

#login{

margin-top:120px;
text-align:center;

}

#login input{

display:block;
margin:10px auto;
padding:10px;
width:200px;

}

#login button{

padding:10px 20px;

}


/* TITULO */

.titulo{

text-align:center;
font-size:42px;
margin-top:50px;

}

.titulo span{

font-family:Pacifico;
font-size:52px;

}


/* SENSOR */

.sensor{

width:85%;
margin:auto;
margin-top:90px;
text-align:center;

}


/* ETIQUETA */

.etiqueta{

display:inline-block;
background:#D6CFD9;
color:black;

padding:12px 50px;
border-radius:30px;

margin-bottom:50px;

}


/* CONTENEDOR */

.contenedor{

display:flex;
justify-content:space-between;
align-items:center;

}


/* IZQUIERDA */

.lado-izq{

display:flex;
flex-direction:column;
align-items:center;

gap:20px;

width:300px;

}


.icono{

width:150px;

}


input[type=range]{

width:260px;

}

input[type=number]{

padding:10px;
width:200px;

}


/* BOTON */

button{

padding:10px 20px;

background:#6a3d6f;
color:white;

border:none;
border-radius:8px;

cursor:pointer;

}


/* TARJETA */

.monitor{

width:420px;
height:280px;

background:#D6CFD9;

border-radius:30px;

display:flex;
flex-direction:column;

align-items:center;

padding-top:20px;

}


/* TEXTO MONITOREO */

.tituloMonitor{

font-size:28px;

background:linear-gradient(
90deg,
#6a3d6f,
#9a7c9e
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}


/* LED */

.ledBox{

width:120px;
height:120px;

display:flex;
align-items:center;
justify-content:center;

margin-top:30px;

}

.ledBox img{

width:90px;

}

